# Ignorar la carpeta de configuración de VS Code
.vscode/
  
# Ignorar la carpeta de configuración de CLion
.idea/

# Ignorar compilados y archivos temporales
*.o
*.out
*.log
*.swp

# Ignorar archivos swap generados por el simulador
SWAP
swap
